/* import font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corinthia:wght@700&family=Open+Sans+Condensed:wght@300&family=Oswald&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;

}

/* menu-wrapper attributes start */
.menu-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu{
  position: absolute;
  top: 0;
  left: -410px;
  padding-left: 60px;
  padding-top: 60px;
  z-index: 999;
  width: 350px;
  height: 100%;
  background-color: #E6A36F;
  transition: all 0.3s ease-in-out;
}

.menu.on{
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 60px;
  padding-top: 60px;
  z-index: 999;
  width: 350px;
  height: 100%;
  background-color: #E6A36F;
}

.menu img{
  width: 40px;
  float: right;
  margin-right: 50px;
  cursor: pointer;
}

.menu a{
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.menu h1{
  width: 120px;
}

.menu p{
  cursor: pointer;
  margin-top: 50px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
/* main header attributes start */
.mainHeader{
  width: 100vw;
  height: 60px;
  background-color: #E6A36F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeader img{
  position: absolute;
  top: 10px;
  left: 15px;
  width: 40px;
  cursor: pointer;
}

.mainHeader h1{
  color: white;
  font-family: 'Corinthia', cursive;
  font-size: 30px;
}

/* contents-wrapper attributes start */
.contents-wrapper{
}

/* initial-wrapper attributes start */
.initial-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #E6A36F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.initial-title{
  text-align: center;
  font-family: 'Corinthia', cursive;
  font-size: 55px;
  margin: 20px;
}

.initial-nav{
  display: grid;
  grid-template-columns: 45% 55%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

/* login-wrapper & register-wrapper attributes start */
.login-wrapper,
.register-wrapper{
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.loginBox,
.registerBox{
  width: 310px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.loginBox h1,
.registerBox h1{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.loginBox h3,
.registerBox h3{
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
}

.loginBox p,
.registerBox p{
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.loginWarning{
  display: none;
  color: red;
}

.registerWarning{
  display: none;
  color: red;
}

.registerBox span{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.registerAge{
  width: 40px !important;
  height: 35px;
  margin-left: 60px;
  margin-right: 10px;
}

.registerH,
.registerW{
  width: 250px;
  height: 35px;
  margin-right: 20px;
}

.login-register-change{
  display: flex;
  justify-content: center;
}

.loginBox input[type=text],
.loginBox input[type=password],
.registerBox input[type=text],
.registerBox input[type=password]{
  width: 300px;
  height: 35px;
}

.loginBox div,
.registerBox div{
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.loginBox button,
.registerBox button{
  width: 80px;
  height: 30px;
  font-family: 'Varela Round', sans-serif;
  background-color: #E6A36F;
  color: #333333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* calendar-wrapper attributes start */
.calendar-wrapper{
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.calendarBox{
  align-items: center;
  width: 600px;
}

.calendarHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month{
  font-family: 'Anton', sans-serif;
  font-size: 35px;
}

.nav{
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.nav-btn{
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 28px;
  background-color: transparent;
  cursor: pointer;
}

.go-today{
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  font-family: 'Open Sans Condensed', sans-serif;
}

.days{
  display: flex;
  margin: 25px 0 10px;
}

.day{
  width: calc(100%/7);
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.dates{
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  font-family: 'Open Sans Condensed', sans-serif;
}

.date{
  box-sizing: border-box;
  width: calc(100%/7);
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

/* change color to blue on Saturday and red on Sunday */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}
.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

/* change opacity to 0.3 for dates of previous or next month */
.other{
  opacity: .3;
}

/* show today's date */
.today {
  position: relative;
  color: #FFFFFF;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #E6A36F;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

/* daily-wrapper attributes start */
.daily-wrapper{
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.dailyBox{
  width: 600px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.dailyHeader{
  display: flex;
  justify-content: space-between;
}

.daily-menu{
  display: grid;
  grid-template-columns: 83% 17%;
}

.daily-nav{
  box-sizing: border-box;
  height: 32px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: white;
  margin-right: 10px;
}

.go-cal{
  width: 100px;
  line-height: 30px;
  border-left: 1px solid #333333;
  font-family: 'Open Sans Condensed', sans-serif;
}

.like{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #333333;
}

.like img{
  width: 28px !important;
  height: 28px !important;
}

.dailyBox table{
  width: 100%;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid #333333;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
}

.dailyBox th,
.dailyBox td{
  padding: 0;
  height: 30px;
  border: 1px solid #333333;
  text-align: center;
  font-size: 20px;
}

.dailyBox .intake-table input,
.dailyBox .burn-table input{
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 9px 10px;
  border: 0;
  font-size: 15px;
}

.dailyBox .mybody-table input{
  width: 70%;
  height: 90%;
  margin: 0;
  border: none;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 9px 10px;
}

.dailyBox table textarea{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 9px 10px;
  border: 0;
  font-size: 15px;
}

.dailyBox textarea{
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.dailyBox h1{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.dailyBox h3{
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
}

/* mypage-wrapper attributes start */
.mypage-wrapper{
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.mypageBox{
  width: 310px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.mypageBox h1{
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}

.mypageBox h2{
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
}

.mypageBox h3{
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}

.mypageBox th h3{
  margin-top: 5px !important;
}

.mypageBox input[type=text],
.mypageBox input[type=password]{
  width: 300px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.mypageBox input[type=number]{
  height: 35px;
  padding-left: 10px;
}

.mypagePW{
  margin-bottom: 10px;
}

.mypageBox table{
  margin-top: 0;
  width: 100%;
  text-align: left;
}

.mypageBox p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: red;
}


.mypageH,
.mypageW{
  width: 90px !important;
  height: 35px;
  margin-right: 10px;
}

.mypageBox span{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.mypageBox div{
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mypageBox button{
  width: 80px;
  height: 30px;
  font-family: 'Varela Round', sans-serif;
  background-color: #E6A36F;
  color: #333333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* chart-wrapper attributes start */
.chart-wrapper{
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.chartBox{
  width: 600px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.chartBox h1{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.chartBox div{
  margin-top: 10px;
}

/* bestday-wrapper attributes start */
.bestday-wrapper{
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.bestdayBox{
  width: 600px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.bestdayBox h1{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.bestdayBox table{
  width: 100%;
}

.bestdayBox table th{
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.bestdayBox table td{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
